<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="{{product.imgUrl}}" alt=""/>
        <div class="caption">
            <h4 class="pull-right">{{product.price}}</h4>
            <h4><a href=""></a>{{product.name}}</h4>

            <p>{{Poduct.description}} <a target="_blank" href="">{{product.imgUrl}}</a></p>

        </div>
        <div class="ratings">
            <p class="pull-right">{{product.reviews}}</p>
            <p>{{product.ratings}}
                <!-- <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span> -->
            </p>
        </div>
    </div>
</div>